services:
  - type: web
    name: openclaw
    runtime: docker
    plan: starter
    healthCheckPath: /__openclaw__/canvas/
    dockerCommand:
      - node
      - dist/index.js
      - gateway
      - --allow-unconfigured
      - --bind
      - lan
      - --port
      - "8080"
    envVars:
      - key: PORT
        value: "8080"
      - key: SETUP_PASSWORD
        sync: false
      - key: OPENCLAW_STATE_DIR
        value: /data/.openclaw
      - key: OPENCLAW_WORKSPACE_DIR
        value: /data/workspace
      - key: OPENCLAW_GATEWAY_TOKEN
        generateValue: true
      - key: OPENCLAW_GATEWAY_BIND
        value: lan
      - key: OPENCLAW_GATEWAY_PORT
        value: "8080"
    disk:
      name: openclaw-data
      mountPath: /data
      sizeGB: 1
